bin
build
out
.vscode/.cmaketools.json
/*.hdr
/*.exr
/*.png
.vscode/ipch/
tests/renderings/*.png
tests/renderings/*.hdr
tests1/
.vs
testsr/

tests/16_coffee/shapes/

tests/17_kitchen/

tests/16_coffee/
